﻿@model AzFace.Controllers.Test

@{
    int page = (ViewBag.Page + 1);
}

@if (Model.Origin != null && Model.Origin != "moreComments")
{
    <div class='carouselPersonImageDiv'>
        <div class='row'>
            <div class='col-sm-2'>
                <img width='40' height='50' src='/Home/GetImage?PersonId=@Model.PersonId' />
            </div>

            <div class='col-sm-10'>
                @Model.PersonName
                <br>
                @Model.SharedTime;
            </div>
        </div>
        <div style='overflow-wrap: break-word; width: 150px; margin-top: 20px;'>@Model.Text</div>
    </div> 
    
}


@foreach (AzFace.Controllers.Com comment in Model.Comments)
{
    string commentRowId = "commentRow" + comment.CommentId;
    string commentOptionsId = "commentOptions" + comment.CommentId;
    string commentIdId = "commentId" + comment.CommentId;
    
    <div class="row" id="@commentRowId">
        <div class="col-sm-1">
            <img width="25" height="25" src="/Home/GetImage?PersonId=@comment.PersonId">
        </div>
        <div class="col-sm-11">
            <div class="row">
                <div class="col-sm-10 optionsClass1">@comment.FirstName &nbsp @comment.LastName</div>
                <div class="hide">@comment.CommentId</div>
                <div id="@commentOptionsId" class="col-sm-1">
                    <div class="dropdown">
                        <a href="#" type="button" id="menu1" data-toggle="dropdown"><span class="glyphicon glyphicon-pencil"></span></a>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                            <li><a data-ajax="true" data-ajax-method="POST" data-ajax-success="processDeleteComment" href="/Home/DeleteComment?commentId=@comment.CommentId">Delete</a></li>
                            <li><a class="commentEditClass" href="#">Edit</a></li>
                            <li class="hide">@comment.CommentId</li>
                        </ul>
                    </div>

                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <div id="@commentIdId" class="commentClass">@comment.Text</div>
                    <div class="hide">@comment.CommentId</div>
                    <div class="hide">@comment.PersonId</div>
                    <div class="row">
                        <div class="col-sm-2"><a data-ajax="true" data-ajax-method="POST" data-ajax-success="processCommentLikes" href="/Home/LikeComment?commentId=@comment.CommentId"><span class="glyphicon glyphicon-thumbs-up"></span></a></div>
                        <div class="col-sm-10">
                            <a class="commentReplyClass" href="#"><span class="glyphicon glyphicon-share-alt"></span></a>
                            <div class="commentReplyTextClass"></div>
                            <div class="hide">@comment.CommentId</div>

                            @foreach (AzFace.Controllers.ComRep comRep in comment.CommentReplys)
                            {
                                <div class='row'>
                                    <div class='col-sm-1'>
                                        <img width='25' height='25' src='/Home/GetImage?PersonId=@comRep.PersonId'/>
                                    </div>
                                    <div class='col-sm-11'>
                                        <div class='row'>
                                            <div class='col-sm-12'>@comRep.PersonName</div>
                                        </div>
                                        <div class='row'>
                                            <div class='col-sm-12'>@comRep.Text</div>
                                        </div>

                                    </div>
                                </div>
                            }

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@if (Model.Comments.Count() >= 5)
{
    <div class="viewMoreCommentsClass"><a data-ajax="true" data-ajax-method="POST" data-ajax-failure="processData2" data-ajax-success="processComments" href="/Home/GetCommentsFromItem?itemId=@Model.ItemId&page=@page&origin=moreComments">View more comments</a></div>
}
