﻿@model AzFace.Models.CreateModel

@{
    ViewBag.Title = AzFace.Resource.SignUp;
}

<br>
<br>

<div style="padding: 5px;">
        @{
            foreach (var i in AzFace.Infrastructure.SiteLanguage.availableLanguages)
            {
            @Html.ActionLink(i.LangFullName, "ChangeLanguage", "Account", new { lang = i.LangCultureName }, null) <text>&nbsp</text>
            }
        }
    </div>



<script>
    $(document).ready(function () {
        $(".datepicker").each(function () {
            $(this).datepicker();
        });
    });

</script>

<br>
<br>
<br>
<div class="row">
    <div class="col-sm-6">
        <h1>@AzFace.Resource.FreeMessage</h1>
    </div>
    <div class="col-sm-6">
        @Html.ValidationSummary()
        @using (Html.BeginForm("Create", "Account", FormMethod.Post))
        {
            <input type="hidden" name="returnUrl" value="@ViewBag.returnUrl" />
            <div class="form-group">
                <label>@AzFace.Resource.Email</label>
                @Html.TextBoxFor(x => x.Email, new { @class = "form-control",autocomplete = "off" })
            </div>
            <div class="form-group">
                <label>@AzFace.Resource.Password</label>
                @Html.PasswordFor(x => x.Password, new { @class = "form-control",autocomplete = "off" })
            </div>
     
            <div class="form-group">
                <label>@AzFace.Resource.FirstName</label>
                @Html.TextBoxFor(x => x.FirstName, new { @class = "form-control",autocomplete = "off" })
            </div>
            <div class="form-group">
                <label>@AzFace.Resource.LastName</label>
                @Html.TextBoxFor(x => x.LastName, new { @class = "form-control",autocomplete = "off" })
            </div>
            <div class="form-group">
                <label>@AzFace.Resource.Birthday</label>
                @Html.TextBoxFor(x => x.Birthday, new { @class = "form-control datepicker",autocomplete = "off" })
            </div>
            <button class="btn btn-primary" type="submit">@AzFace.Resource.SignUp</button> 
        }
    </div>
</div>
