﻿@model AzFace.Models.ForgotPasswordViewModel

@{
    ViewBag.Title = "ForgotPassword";
}
<br>
<h2>ForgotPassword ?</h2>
<br>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken();
    <div class="form-group">
        <label>@AzFace.Resource.Email</label>
        @Html.TextBoxFor(x => x.Email, new { @class = "form-control" })
    </div>

    <button class="btn btn-primary" type="submit">Send</button>
}
