﻿@model AzFace.Models.LoginModel
@{ ViewBag.Title = "Login";}

<br>
<br>
<br>
<div class="row">
    <div class="col-sm-6">
        <h1>@AzFace.Resource.Welcome</h1>

    </div>
    <div class="col-sm-6">

        @if (ViewBag.SuccessMessage != null)
        {
            <div class="alert alert-success">
                <strong>Success!</strong>@ViewBag.SuccessMessage
            </div>
        }
        <h2>@AzFace.Resource.LogIn</h2>


        @Html.ValidationSummary()
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken();
            <input type="hidden" name="returnUrl" value="@ViewBag.returnUrl" />
            <div class="form-group">
                <label>@AzFace.Resource.Email</label>
                @Html.TextBoxFor(x => x.Email, new { @class = "form-control" })  
            </div>
            <div class="form-group">
                <label>@AzFace.Resource.Password</label>
                @Html.PasswordFor(x => x.Password, new { @class = "form-control" })
            </div>
            <button class="btn btn-primary" type="submit">@AzFace.Resource.LogIn</button>
        }



        @using (Html.BeginForm("Create", "Account", FormMethod.Get))
        {
            <input type="hidden" name="returnUrl" value="@ViewBag.returnUrl" />
            <br>
            <br>
            <button class="btn btn-primary" type="submit">@AzFace.Resource.Register</button>
        }
        <p>
            @Html.ActionLink("Reset password", "ForgotPassword")
        </p>
    </div>
</div>
