﻿@model AzFace.Infrastructure.ResetPasswordViewModel

@{
    ViewBag.Title = "ResetPassword";
}
<br>
<h2>ResetPassword</h2>

@using (Html.BeginForm("ConfirmPassword", "Account", FormMethod.Post))
{  
    @Html.AntiForgeryToken()
    @Html.HiddenFor(x => x.userId)
    @Html.HiddenFor(x => x.code)

    <div class="form-group">
        <label>New Password</label>
        @Html.PasswordFor(x => x.Password, new { @class = "form-control" })
    </div>

    <button class="btn btn-primary" type="submit">Reset</button>
}