﻿
#profileImg {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.container {
    padding-top: 10px;
}

.validation-summary-errors {
    color: #f00;
}


.jumbotron {
    position: relative;
    width: 80%;
    height: 250px;
}

#forCenter {
    top: 10px;
}

#forCenter1 {
    top: 10px;
}

#friendRequestIcon {
    top: 1px;
}
/*#friendRequestIcon
{
  top:10px;
}*/

#optionsIcon1 {
    position: fixed;
    left: 0;
    top: 0;
}


/*.sharedItemDiv {
    background-color: #ffffff !important;
}*/

.sharedItemHeaderDiv {
    background-color: #ffffff !important;
}


.container {
    background-color: #e6e6e6;
}

body {
    background-color: #e6e6e6 !important;
}

#personDetails {
    background-color: #ffffff !important;
}


#center {
    position: fixed;
    /*top: 400px;*/
    bottom: 0;
    /*right: 500px;*/
    /*left: 300px;*/
    /*overflow-y: scroll;*/
}

#forMessage {
    position: relative;
    bottom: 50px;
}

/*#homeCenter {
    position: absolute;
    overflow-y: scroll;
}*/

.img-responsive {
    width: 100%;
}



/*.img-responsive {
    margin-top: 50px;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 10px;
}*/


/*.dropdown:enabled .dropdown-menu {
    display: block;
    margin-top: 0; 
 }*/

/*img {
    width: 100%;
    height: auto;
}*/

/*.dropdown-menu {
    width: 322px !important;
}*/

.popover {
    max-width: none;
    /*height: 100px;*/
}

.messageData1 :hover {
    background: #f2f2f2;
}

.commentClass :hover .commentOptions {
    display: block;
}

.messageData {
    border-bottom: solid;
    border-bottom-width: 1px;
    border-bottom-color: darkgray;
}

.popover-content {
    /*height: 300px;*/
    /*overflow-y: scroll;*/
    /*overflow-x: hidden;*/
}

.msgCount5 {
    color: red;
}

#HeaderProfileImage {
    top: 10px;
}

/*#homeCenter {
    height: 100%;
    overflow-y: scroll;
}*/

/*#sideDiv {
    position:fixed;
}

#rightDiv {
    position:fixed;
}*/

#friendsListDiv {
    position: fixed;
    top: 50px;
    right: 5px;
    background: #f2f2f2;
}

/*#friendsListDiv{
    opacity:0.4;
}*/


.MostMessageData :hover {
    background-color: azure;
}

.middle {
    top: 10px;
}

.likeNumber, .likeLink {
    display: inline;
}
/*.col-41, .col-42 {
    display: inline;
}*/

.person1 {
    background-color: #ffffff;
}

/*.person2 {
    background-color:
}*/
#profileWallPaper {
    position: relative;
    height: 200px;
    width: 500px;
}

#wallpaperChange {
    position: absolute;
    left: 0;
    top: 0;
}


#photoChange {
    position: absolute;
    left: 17px;
    top: 0;
}

#changePhoto {
    left: 7%;
    position: relative;
    /*border: 5px solid;
    outline-style: solid;*/
    /*outline-width: thin;*/
}


#changePhotoRow {
    top: 0;
}

.nopadding {
    padding: 0 !important;
    margin: 0 !important;
}

p.test {
    /*width: 17em;*/
    word-wrap: break-word;
}

.selection {
    border: none;
    border-top: 1px solid black;
}


.hresize {
    resize: vertical !important;
}

/*.modal-xl {
    width: 90%;
   max-width:1200px;
  }*/

.modal-dialog {
    width: 80%;
    height: 100%;
    padding: 0;
}

.modal-content {
    height: 90%;
    border-radius: 0;
}

.carousel-control.left, .carousel-control.right {
    background-image: none !important;
    filter: none !important;
}


#picture {
    
    /*position: absolute;
    clip: rect(10px, 500px, 500px, 10px);*/
}



.carouselPersonImageDiv {
    border-bottom: solid thin;
}

.likeNumber .likeLink {
    top: 50px;
}


.dialogFooter {
    position: fixed;
    bottom: 0;
    width: 270px;
}

.dialogFooter {
    /*color: #042E64;
    font-family: sans-serif;*/
    /*text-shadow: 0 1px 0 #84BAFF;*/
    /*box-shadow: 0 0 15px #00214B*/
}


.dialogBody {
    position:relative;
    bottom: 30px;
    padding-bottom:40px;
    /*overflow-y: scroll;*/
}

.itemMarginClass {
    margin-top: 8px !important;
}

/*.glyphicon {
    font-size: 20px;
}*/

.glyphicon-thumbs-up {
    font-size: 15px;
}

.glyphicon-comment {
    font-size: 15px;
}

.dropdown-menu {
    overflow-y: auto;
}

.profilePopupClass {
    position: relative;
}

.profilePopupImage {
    position: absolute;
    top: 0;
}

.inline1 {
    display: inline-block;
    margin: 10px;
}

.progress {
    position: relative;
    width: 400px;
    border: 1px solid #ddd;
    padding: 1px;
}

.progress-bar {
    width: 0px;
    height: 20px;
    background-color: #57be65;
}

.offset-0 {
    padding-left: 0;
    padding-right: 0;
}

.galleryBottom {
    position:absolute;
    bottom:10%;
    margin-left:20%;
}

.galleryImageClass {
    position: relative;
    margin-bottom: 100px;
}

.galleryOptions {
    position:absolute;
}

/*#parentCarousel {
    position: relative;

}*/

#carouselCommentDiv {
    height: 510px;
    /*position: absolute;*/

    overflow-y:scroll;
}


/* start modal test 
.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.modal-header {
  position: absolute;
  top: 0;
  bottom:0;
  right: 0;
  left: 0;
  height: 50px;
  padding: 10px;
  border: 0;
}

.modal-title {
  font-weight: 300;
  font-size: 2em;
  color: #fff;
  line-height: 30px;
}

.modal-body {
  position: absolute;
  top: 50px;
  bottom: 60px;
  width: 100%;
  margin:0;

}


.modal-dialog {
  width: 98%;
  height: 92%;
  padding: 0;
}

.modal-content {
  height: 99%;
}

 end modal test */




/* scroll start */

#scrollbox3 {
    overflow: auto;
    width: 400px;
    height: 360px;
    /*padding: 0 5px;*/
    border: 1px solid #b7b7b7;
}

.track3 {
    width: 10px;
    background: rgba(0, 0, 0, 0);
    margin-right: 2px;
    border-radius: 10px;
    -webkit-transition: background 250ms linear;
    transition: background 250ms linear;
}

.track3:hover,
.track3.dragging {
    background: #d9d9d9; /* Browsers without rgba support */
    background: rgba(0, 0, 0, 0.15);
}

.handle3 {
    width: 7px;
    right: 0;
    background: #999;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 7px;
    -webkit-transition: width 250ms;
    transition: width 250ms;
}

.track3:hover .handle3,
.track3.dragging .handle3 {
    width: 10px;
}
/* scroll end */

#txtSearchFriend {
    bottom: 10px;
}

#messageFile, #deleteMessageFile {
    display: inline;
}

