﻿@model List<AzFace.Controllers.MessageTest>


@*<script>
    $(document).ready(function () {
        $('#scrollbox3').enscroll({
            showOnHover: true,
            verticalTrackClass: 'track3',
            verticalHandleClass: 'handle3'
        });
    });
</script>*@


<div id="scrollbox3" style="overflow-y: scroll; height: 320px; width: 260px;">
    <table id="messageHelp">
        <tbody id="messageIndicator">
            @foreach (AzFace.Controllers.MessageTest message in Model)
            {
                                             
                <tr class="messageData1">
                    <td class="messageData"><a href="@Url.Content("/Message/Index?PersonId=" + message.PersonId)">
                        <div class="row">
                            <div class="col-sm-3">
                                <img width="45" height="55" src="@Url.Action("GetImage", "Home", new { message.PersonId })" />
                            </div>
                            <div class="col-sm-9">
                                <p>@message.FirstName &nbsp @message.LastName</p>
                                <p style="overflow-wrap: break-word; width: 150px">@message.Text</p>
                            </div>
                        </div>
                    </a>
                    </td>
                </tr>
            }

        </tbody>
    </table>
</div>
