﻿@model AzFace.Infrastructure.MessageHelper



@if (Model.Messages.Count() > 0)
{

    var firstMessage = Model.Messages[0];
    if (Model.Sender.PersonId == firstMessage.MessageFrom)
    {
    <tr class='person1'>
        <td style='color: blue;'>@Model.Sender.FirstName</td>
        <td style='overflow-wrap: break-word; width: 150px' class='pull-left'>@firstMessage.Text</td>
        <td class="@firstMessage.TimeStamp"></td>
        <td style='display: none'>@Model.Sender.PersonId</td>
    </tr>

    }
    else
    {
    <tr class='person2'>
        <td style='color: blue;'>You</td>
        <td style='overflow-wrap: break-word; width: 150px' class='pull-left'>@firstMessage.Text</td>
        <td class="@firstMessage.TimeStamp"></td>
        <td style='display: none'>@Model.Receiver.PersonId</td>
    </tr>
    }
}



@for (var j = 1; j < Model.Messages.Count(); j++)
{
    var message = Model.Messages[j];
    var previousMessage = Model.Messages[j - 1];

    var msgId = message.MessageId;

    var messageText = message.Text;
    string text1 = messageText.Replace(":)", "<img width='35' height ='35'src='/Content/Smiley/happy.png' alt='Happy!' />");
    text1 = text1.Replace(":(", "<img width='35' height ='35' src='/Content/Smiley/unhappy.png' alt='Unhappy!' />");
    text1 = text1.Replace(":D", "<img width='35' height ='35' src='/Content/Smiley/moreHappy.png' alt='more happy!' />");
    text1 = text1.Replace(";)", "<img width='35' height ='35' src='/Content/Smiley/wink.png' alt='wink!' />");

    if (Model.Sender.PersonId == message.MessageFrom)
    {
    <tr class='person1'>
        @if (message.MessageFrom != previousMessage.MessageFrom)
        {
            <td style='color: blue;'>@Model.Sender.FirstName</td>
        }
        else
        {
            <td></td>
        }
        <td style='overflow-wrap: break-word; width: 150px' class='pull-left'>@Html.Raw(text1)</td>
        @if(message.FileName != null && message.FileName.Length != 0)
        {
         <td> <a href='/Message/DownloadFileReceiver?receiverId=@message.MessageFrom&fileName=@message.FileName'>file</a></td>
        }
        
        @if (message.Delivered == false)
        {
            <td class="@message.TimeStamp"></td>
        }
        else if (message.Delivered == true)
        {
            <td>d</td>
        }
        <td style='display: none'>@Model.Sender.PersonId</td>
    </tr>

    }
    else
    {
    <tr class='person2'>
        @if (message.MessageFrom != previousMessage.MessageFrom)
        {
            <td style='color: blue;'>You</td>
        }
        else
        {
            <td></td>
        }
        <td style='overflow-wrap: break-word; width: 150px' class='pull-left'>@Html.Raw(text1)</td>
        @if(message.FileName != null && message.FileName.Length != 0)
        {
         
            <td> <a href='/Message/DownloadFile?receiverId=@message.MessageTo&fileName=@message.FileName'>file</a></td>
        }

        @if (message.Delivered == false)
        {
            <td class="@message.TimeStamp"></td>
        }
        else if (message.Delivered == true)
        {
            <td>d</td>
        }
        <td style='display: none'>@Model.Receiver.PersonId</td>
    </tr>

    }

}


