﻿<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.11.3.min.js" type="text/javascript"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js" type="text/javascript"></script>
    <script src="~/Scripts/bootstrap.min.js" type="text/javascript"></script>

    <link href="~/Content/MySite.css" rel="stylesheet" />
     <link href="~/Content/jquery-ui.css" rel="stylesheet" />

   @* <link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />*@
    <script src="~/Scripts/jquery.timeago.js"></script>

    <script src="~/Scripts/jquery.signalR-2.2.0.min.js"></script>
    <script type="text/javascript" src="/signalr/hubs"></script>

    <script src="~/Scripts/autosize.js" type="text/javascript"></script>
    <script src="~/Scripts/jquery-ui.js" type="text/javascript"></script>


    <script src="~/Scripts/jquery.fileupload.js" type="text/javascript"></script>
    <link href="~/Content/jquery.fileupload.css" rel="stylesheet" />


    <script src="~/Scripts/enscroll-0.6.1.min.js" type="text/javascript"></script>
    <script src="~/Scripts/jquery.dialogextend.js" type="text/javascript"></script>

</head>
<body class="container">
    <div class="container">
        @Html.Partial("Header")
        @RenderBody()
        @if (IsSectionDefined("scripts"))
        {
            @RenderSection("scripts")
        }
    </div>
</body>

<script>
    autosize(document.querySelectorAll('textarea'));
</script>

<script type="text/javascript">
    var idleTime = 0;
    $(document).ready(function () {
        //Increment the idle time counter every minute.
        var idleInterval = setInterval(timerIncrement, 60000); // 1 minute

        //Zero the idle timer on mouse movement.
        $(this).mousemove(function (e) {
            idleTime = 0;
        });
        $(this).keypress(function (e) {
            idleTime = 0;
        });
    });

    function timerIncrement() {
        idleTime = idleTime + 1;
        if (idleTime > 10) { // 11 minutes
            window.location.reload();
        }
    }
</script>

</html>
