﻿@model AzFace.Models.EditorInputModel
<link href="@Url.Content("~/Content/jquery.Jcrop.css")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/Scripts/jquery.Jcrop.js")" type="text/javascript"></script>

<div id="mainform">
    @using (Html.BeginForm("Edit", "Profile", FormMethod.Post))
    {
        @Html.DisplayFor(x => x.Profile.ImageUrl)         
        @Html.HiddenFor(x => x.Left)
        @Html.HiddenFor(x => x.Right)
        @Html.HiddenFor(x => x.Top)
        @Html.HiddenFor(x => x.Bottom)
        @Html.HiddenFor(x => x.Profile.ImageUrl)
        <input type='submit' name='action' value='Crop' />
    }
</div>

<script type="text/javascript">
    $(function () {
        jQuery('#profileImageEditor').Jcrop({
            onChange: showPreview,
            onSelect: showPreview,
            setSelect: [@Model.Top, @Model.Left, @Model.Right, @Model.Bottom],
            aspectRatio: 3/4
         });
   });


    function showPreview(coords)
    {
        if (parseInt(coords.w) > 0)
        {
            $('#Top').val(coords.y);
            $('#Left').val(coords.x);
            $('#Bottom').val(coords.y2);
            $('#Right').val(coords.x2);

            var width = @Model.Width;
              var height = @Model.Height;
             var rx = 100 / coords.w;
             var ry = 150 / coords.h;

             jQuery('#preview').css({
                 width: Math.round(rx * width) + 'px',
                 height: Math.round(ry * height) + 'px',
                 marginLeft: '-' + Math.round(rx * coords.x) + 'px',
                 marginTop: '-' + Math.round(ry * coords.y) + 'px'
             });
         }
     }
</script>
