﻿@model AzFace.Models.Connection.Album

@{
    ViewBag.Title = "GetAlbum";
}

<br>
<div class="row">
    @foreach (AzFace.Models.Connection.Photo photo in Model.Photos)
    {
        <div class='col-sm-3'>
            <img width="250" height="200" src="/Album/GetPhoto?photoId=@photo.PhotoId"/>
        </div>
    }
</div>
