﻿@model List<AzFace.Models.Connection.Album>



<script src="~/Scripts/jquery.form.js"></script>
<script>
    (function () {
        var bar = $('.progress-bar');
        var percent = $('.progress-bar');
        var status = $('#status');

        $('form').ajaxForm({
            beforeSend: function () {
                status.empty();
                var percentValue = '0%';
                bar.width(percentValue);
                percent.html(percentValue);
            },
            uploadProgress: function (event, position, total, percentComplete) {
                var percentValue = percentComplete + '%';
                bar.width(percentValue);
                percent.html(percentValue);
            },
            success: function (d) {
                var percentValue = '100%';
                bar.width(percentValue);
                percent.html(percentValue);
                $('#fu1').val('');
                //alert(d);
            },
            complete: function (xhr) {
                status.html(xhr.responseText);
            }
        });
    })();
</script>

<script>

    //qalani da javascriptlikdi.
    var theTimer;

    $(document).on("mouseover", ".albumImg", function () {
        var albumId = $(this).attr('id');
        getNextImage(albumId);

        $(this).mouseout(function () {
            clearTimeout(theTimer);
        });
    });




    function getNextImage(albumId) { // o da burdadi.
        theTimer = setTimeout(function () { // gozlemeni setTimeout funksiyasi eliyir.

            var album = { albumId: albumId }
            $.ajax({
                url: '/Album/GetAjaxImage', // bu da gedir GetAjaxImage metodun cagirir
                type: 'POST',
                data: JSON.stringify(album),
                contentType: 'application/json; charset=utf-8',
                beforeSend: function () {
                    $("." + albumId).fadeTo(300, 0.1);
                },
                success: function (data) { // bura, burdan sekili tapir ve src  attributun deyisir, yeni sekile 
                    var target = $("#" + albumId);
                    target.attr("src", "/Album/GetPhoto?photoId=" + data.PhotoId);
                },
                error: function (data) {
                    //alert(data);
                },
                complete: function () { // ne qeder ki, mouse sekilin ustundedi
                    getNextImage(albumId) // getNextImage yeniden cagirir. burda loop duzeldir. bu loop u qirmaq ucun. mouse leave eventiden istifade eliyirem
                    $("." + albumId).fadeTo(500, 1);
                }
            });

        }, 2500); // sonra 2.5 saniye gozleyir.
    }

</script>


<script>
    $(document).on("mouseover", ".galleryImageClass", function () {

        var options = $(this).children(".galleryOptions");
        options.animate({ bottom: '10px' });
        options.show();

        $(this).mouseout(function () {
            options.hide();
        });
    });


    function processCarouselItems(data) {
        var target = $("#carouselId");
        target.empty();
        var line = "";
        var line1 = "";

        if (data != undefined) {

            line = line + "<div id='carouselItemId' class='item active picture-container'>";
            line = line + "<img id='picture' class='img-responsive' src='/Album/GetPhoto?photoId=" + data.PhotoId + "'/>";
            line = line + "</div>"

            target.append(line);



            $("#carouselCommentDiv").empty();

            var ItemId = data.ItemId;
            var Origin = "carousel";

            var values = { id: ItemId, origin: Origin }
            $.ajax({
                url: "/PartialComment/Index",
                type: 'POST',
                data: JSON.stringify(values),
                contentType: 'application/json; charset=utf-8',
                success: function (data) {
                    $("#carouselCommentDiv").append(data);
                },
                error: function (data) {
                    alert("hello error");
                }

            });


            if (data.NextPhotoId != 0) {
                line1 = "/Album/GetCarouselItems?photoId=" + data.NextPhotoId + "&albumId=" + data.AlbumId + "&direction=right";
            }
            else {
                line1 = "/Album/GetCarouselItems?photoId=" + data.NextPhotoId + "&albumId=" + data.AlbumId + "&direction=right";
            }

            $("#rightButtonId").attr("href", line1);
            $("#leftButtonId").attr("href", "/Album/GetCarouselItems?photoId=" + data.PhotoId + "&albumId=" + data.AlbumId + "&direction=left");

            $("#myModal1").modal();


        }



    }

</script>



<br>
<br>
<div class="row">
    <div class="col-sm-4">
        <button class="btn btn-info" data-toggle="modal" data-target="#myModal">CreateAlbum</button>
    </div>
</div>

<div class="row albumsDiv">
    @foreach (AzFace.Models.Connection.Album album in Model) // sonra loop dan albomlarin birinci sekilin yukleyirem
    {
        <div class='col-sm-3 galleryImageClass'>
            <div class="galleryOptions" style="display: none">
                <div class="col-sm-6">
                    <button class="btn btn-info">add image</button>
                </div>
                <div class="col-sm-6">
                    <button class="btn btn-info">remove</button>
                </div>
            </div>
            <p>@album.Photos.Count() photos</p>
            <div class="@album.AlbumId mainAlbum">
                <a data-ajax='true' data-ajax-loading='#progress' data-ajax-method='POST' data-ajax-success='processCarouselItems' href='/Album/GetCarouselItems?photoId=@album.Photos.FirstOrDefault().PhotoId&albumId=@album.AlbumId'>
                    <img class="albumImg" id="@album.AlbumId" width="250" height="200" src="/Album/GetPhoto?photoId=@album.Photos.FirstOrDefault().PhotoId"/>
                </a>
            </div>

            <div>@album.Name</div>
        </div>
    }
</div>







<!-- Modal -->
<div class="modal modal-wide " id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="myModalLabel">Modal title</h4>
            </div>
            <div class="modal-body">
                @*start*@


                @using (Ajax.BeginForm("AsyncUpload", "Album", new AjaxOptions() { HttpMethod = "POST" }, new { enctype = "multipart/form-data", id = "multiFileForm" }))
                {
                    @Html.AntiForgeryToken()
                    <input type="file" name="files" id="fu1" multiple="multiple" />
                    <input name="albumName" type="text" />
                    <input type="submit" value="Upload File" />
  
                }

                <div class="progress">
                    <div class="progress-bar">0%</div>
                </div>
                <div id="status"></div>

                @section scripts{
                    <script src="~/Scripts/jquery.form.js"></script>
                    <script>
                        (function () {
                            var bar = $('.progress-bar');
                            var percent = $('.progress-bar');
                            var status = $('#status');

                            $('#multiFileForm').ajaxForm({
                                beforeSend: function () {
                                    status.empty();
                                    var percentValue = '0%';
                                    bar.width(percentValue);
                                    percent.html(percentValue);
                                },
                                uploadProgress: function (event, position, total, percentComplete) {
                                    var percentValue = percentComplete + '%';
                                    bar.width(percentValue);
                                    percent.html(percentValue);
                                },
                                success: function (data) {
                                    var percentValue = '100%';
                                    bar.width(percentValue);
                                    percent.html(percentValue);

                                    var target = $('.albumsDiv');
                                    var line = "<div class='col-sm-3 profilePopupClass'>";
                                    line += "<p>" + data.PhotoIds.length + " photos</p>";
                                    line += "<p class='" + data.AlbumId + "'>";
                                    line += '<img class="albumImg" id="' + data.AlbumId + '" width="250" height="200" src="/Album/GetPhoto?photoId=' + data.PhotoIds[0] + '"/>';
                                    line += "</p>";
                                    line += '<div class="galleryBottom">' + data.Name + '</div>';
                                    line += "</div>";

                                    target.append(line);
                                },
                                complete: function (xhr) {
                                    status.html(xhr.responseText);
                                }
                            });
                        })();
                    </script>
                }


                @*end*@
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="myModal1" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body" id="modalId">

                <div class="row">
                    <div class="col-sm-8">

                        <div id="myCarousel" class="carousel" data-ride="carousel" data-interval="false">
                            <!-- Wrapper for slides -->
                            <div class="carousel-inner" role="listbox" id="carouselId">
                                <div class="item active">
                                    <img width="460" height="345" src="@Url.Action("GetImage", "Home", new { personId = 1 })">
                                </div>
                            </div>

                            <!-- Left and right controls-->
                            <a class="left carousel-control" id="leftButtonId" role="button" data-ajax="true" data-ajax-loading="#progress" data-ajax-method="POST" data-ajax-success="processCarouselItems" href="#">
                                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="right carousel-control" id="rightButtonId" role="button" data-ajax="true" data-ajax-loading="#progress" data-ajax-method="POST" data-ajax-success="processCarouselItems" href="#">

                                @* <a class="right carousel-control" id="rightId" href="#myCarousel" role="button" data-slide="next">*@
                                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>

                    </div>

                    <div class="col-sm-3" id="carouselCommentDiv">
                    </div>
                </div>
            </div>



        </div>

    </div>
</div>


