﻿@model List<AzFace.Controllers.ItemTest>

<script>
    $(document).ready(function () {
        $("abbr.timeago").timeago();
    });
</script>


@foreach (AzFace.Controllers.ItemTest item in Model)
{
    string likeId = "like" + item.ItemId;
    string shareId = "share" + item.ItemId;
    string modalId = "#share" + item.ItemId;
    string textAreaId = "textArea" + item.ItemId;
    string itemTextId = "itemText" + item.ItemId;
    string preloaderId = "preloader" + item.ItemId;
    string tableRowId = "tableRow" + item.ItemId;
    
        <div id ="@tableRowId">
            <div class='sharedItemDiv'>
                <div class='sharedItemHeaderDiv'>
                    <div class='row-40>'>
                        <div class='row'>
                            <div class='col-sm-2'>
                                <img width='50' height='50' src='/Home/GetImage?PersonId=@item.PersonId2' />
                            </div>

                            <div class='col-sm-4'>

                                <div class="dropdown dropTest" style="width: 100px">

                                    <div class="hide">@item.PersonId2</div>
                                    <a class="dropdown-toggle disabled" href="Home/GetProfile?personId=@item.PersonId2"  data-toggle="dropdown ">@item.PersonId</a>
                                    <div class="dropdown-menu" role="menu">
                                        <div class="profilePopupClass">
                                            <img width="270" height="200"  src="@Url.Action("GetWallpaper", "Home", new { personId = item.PersonId2 })" />
                                            <div class="row profilePopupImage">
                                                <div class="col-sm-6">
                                                    <img width="100" height="120" src="@Url.Action("GetImage", "Home", new { personId = item.PersonId2 })" />
                                                </div>
                                                <div class="col-sm-6">
                                                    @item.PersonId
                                                </div>
                                            </div>
                                        </div>
                                    </div>



                                </div>

                                <div class='row'>
                                    <i>&nbsp &nbsp
                                        <abbr class='timeago' title='@item.SharedTime'></abbr>
                                        <input class='hide' value='@item.SharedTime' />
                                        &nbsp <span class='glyphicon glyphicon-globe' style='font-size: 10px;' title='@item.ShareOption'></span></i>
                                </div>
                            </div>
                            <div class='col-sm-4'></div>


                            @if (Convert.ToInt32(Session["PersonId"]) == item.PersonId2)
                            {

                                <div class='col-sm-1'>
                                    <div class="dropdown">
                                        <a href="#" type="button" id="menu1" data-toggle="dropdown">
                                            <span class="caret"></span></a>
                                        <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                                            <li><a data-ajax="true" data-ajax-method="POST" data-ajax-success="processItemChange" href="/Home/ChangeItem?itemId=@item.ItemId&option=Public">Public</a></li>
                                            <li><a data-ajax="true" data-ajax-method="POST" data-ajax-success="processItemChange" href="/Home/ChangeItem?itemId=@item.ItemId&option=Friends">Friends</a></li>
                                            <li><a data-ajax="true" data-ajax-method="POST" data-ajax-success="processItemChange" href="/Home/ChangeItem?itemId=@item.ItemId&option=OnlyMe">OnlyMe</a></li>
                                            <li><a data-ajax="true" data-ajax-method="POST" data-ajax-success="processItemChange" href="/Home/ChangeItem?itemId=@item.ItemId&option=Remove">Remove</a></li>
                                        </ul>
                                    </div>
                                </div>                     

                            }



                        </div>


                        <div class='hide'>@item.SharedTime</div>
                    </div>


                    @if (item.PersonId2 != item.InitialPersonId)
                    {
                        <div class='col-42'>
                            shared <b>item.InitialPersonName </b>'s item
                        </div>
                    }
                    <div class='row'>
                        <div class='col-sm-12'>
                            @if (item.Text != null)
                            {
                                <br>
                                if (item.Text.Count() < 100)
                                {
                                <p class='test'>@item.Text</p>
                                }

                                else
                                {
                                <p class='test @itemTextId'>@item.Text.Substring(0, 100)...<a data-ajax='true' data-ajax-loading='#progress' data-ajax-method='POST' data-ajax-success='processItemText' href='/Home/GetItemText?itemId=@item.ItemId'>view all</a></p>
                                }
                            }
                        </div>
                    </div>

                    @if (item.ImgMimeType != null)
                    {
                        <a data-ajax='true' data-ajax-loading='#progress' data-ajax-method='POST' data-ajax-success='processCarouselItems' href='/Home/GetCarouselItems?personId=@item.PersonId2&itemId=@item.ItemId'>
                            <img class='img-responsive carouselImage' src='/Home/GetSharedImage?ItemId=@item.ItemId'/></a>
                        <p class='hide'>@item.ItemId  </p>
                        <p class='hide'>@item.PersonId2</p>

                    }
                    @if (item.VideoPath != null)
                    {

                        <video width='100%' height='100%' controls>
                            <source src='/Video/Index?personId=@item.PersonId2&amp;fileName=@item.VideoPath' type='video/mp4'>
                        </video>

                    }

                    <div class='row'>
                        <div class='col-sm-3 itemMarginClass'>
                            <div class='likeNumber' id='@likeId'>@item.LikeNumber </div>
                            &nbsp
                    <a class='likeLink' data-ajax='true' data-ajax-loading='#progress' data-ajax-method='POST' data-ajax-success='processLikes' href='/Home/LikeItem?itemId=@item.ItemId&personId=@Convert.ToInt32(Session["PersonId"])'><span class='glyphicon glyphicon-thumbs-up'></span></a>
                        </div>

                        <div class='col-sm-3 itemMarginClass'>
                            <a data-ajax='true' data-ajax-loading='#progress' data-ajax-method='POST' data-ajax-success='processComments' href='/Home/GetCommentsFromItem?itemId=@item.ItemId'>@item.Comments.Count()&nbsp <span class='glyphicon glyphicon-comment'></span></a>
                        </div>
                        <div class='col-sm-2'>






                            <button type='button' class='btn btn-link' data-toggle='modal' data-target='@modalId'><span class='glyphicon glyphicon-share'></span></button>

                            <div class='modal fade' id='@shareId' role='dialog'>
                                <div class='modal-dialog'>
                                    <div class='modal-content'>
                                        <div class='modal-header'>
                                            <button type='button' class='close' data-dismiss='modal'>&times;</button>
                                            <h4 class='modal-title'>Share this item</h4>
                                        </div>
                                        <div class='modal-body'>
                                            <form action='/Home/ShareOthersItem' method='post'>
                                                <div class='row'>
                                                    <div class='col-sm-10'>

                                                        <textarea class='form-control' cols='20' id='Text' name='Text' placeholder='Add some text to the item' rows='2'></textarea>

                                                        <select name='shareOption1'>
                                                            <option value='Public'>Public</option>
                                                            <option value='Friends'>Friends</option>
                                                            <option value='OnlyMe'>Only me</option>
                                                        </select>
                                                    </div>
                                                    <div class='col-sm-2'>
                                                        <input name='itemId' type='hidden' value='@item.ItemId' />
                                                        <input class='form-control' type='submit' value='Post' />
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>



                        </div>
                    </div>

                    <form action='/' data-ajax='true' data-ajax-failure='processData2' data-ajax-method='Get' data-ajax-mode='replace' data-ajax-success='processCommentsData' data-ajax-update='#tableBody' data-ajax-url='/Home/AddCommentToItem' method='post'>
                        <div class="row">

                            <div class="col-sm-12">


                                <div class="input-group">
                                    <span class="input-group-addon" style="padding:0; margin:0;">
                                        <img width='30' height='32' src='/Home/GetImage?PersonId=@Convert.ToInt32(Session["PersonId"])' />
                                    </span>
                                    <textarea class='form-control hresize' id='@textAreaId' cols='50' name='comment' rows='1' placeholder='@AzFace.Resource.AddComment'></textarea>

                                </div>
                            </div>
                            <input type='hidden' name='itemId' value="@item.ItemId">
                        </div>
                        <div class="row">
                            <div class="col-sm-10">
                            </div>
                            <div>
                                <input type='submit' value='@AzFace.Resource.Submit'>
                            </div>
                        </div>
                    </form>

                    <div>
                        <div id='@item.ItemId'></div>
                    </div>
                    <div id="@preloaderId"></div>
                </div>
            </div>
        

            <br>
            <br>
            </div>

}

