﻿@model AzFace.Models.ProfileViewModel
@using Microsoft.Web.Helpers;
<br>
<br>
<br>
<br>
<br>

@using (Html.BeginForm("Upload", "Profile", FormMethod.Post, new { @encType = "multipart/form-data" }))
{
    if (Model.ImageUrl != "")
    {
    <img src="@Model.ImageUrl"  style="width:100px;height:100px"/>
    }
    @FileUpload.GetHtml(initialNumberOfFiles: 1, allowMoreFilesToBeAdded: true, includeFormTag: false, addText: "Add Files", uploadText: "Upload File")


    <input type="submit" name="submit" value="upload" />
}