﻿@model List<AzFace.Models.Connection.Person>

@{
    ViewBag.Title = "GetFriends";
}


<br>
<br>
<h2>Friends</h2>


<div class="row">
    @foreach (AzFace.Models.Connection.Person person in Model)
    {
        <div class="col-sm-2">
            <img width="145" height="130" class="img-rounded" src="@Url.Action("GetImage", "Home", new { person.PersonId })" />
            <br>
            @person.FirstName @person.LastName
        </div>
    }
</div>

